@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: SharpGroteskMd;
  src: url("fonts/SharpGrotesk-Md.otf") format("opentype");
}

@font-face {
  font-family: SharpGroteskLt;
  src: url("fonts/SharpGrotesk-Lt.otf") format("opentype");
}

@font-face {
  font-family: FuturaBk;
  src:  url("fonts/FutuBk_.ttf") format("truetype");
}

@font-face {
  font-family: FuturaMd;
  src:  url("fonts/FutuMd_.ttf") format("truetype");
}

@font-face {
  font-family: FuturaLt;
  src:  url("fonts/FutuLt_.ttf") format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: white;
}

.section {
  @apply lg:w-[100%] w-[100%] mx-auto max-w-[1340px];
}

h1, ul, button{
  font-family: SharpGroteskMd;
}

h2 {
  font-family: SharpGroteskLt;
}

h5{
  font-family: FuturaMd;
}

h6{
  font-family: FuturaBk;
}

p{
  font-family: FuturaLt;
}

button, input{
  transition: 0.4s;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  right: 55px;
}

.arrow--right {
  left: auto;
  right: 0;
}
