@import "common/variables"; // Global Variables / Custom

@import 'components/navbar'; // Navbar CSS
@import 'components/button'; // Button CSS

@import "common/global";  // Global CSS
@import "common/utilities"; // utilities CSS